package indexpage

templ avatar() {
  <div class="content avatar-content">
    <div class="avatar-container">
      <img src="" id="avatar" class="is-invisible" />
    </div>
    <div>
      Share your random-generated syumai<br />
      <a href="#" class="is-small" id="sharedUrl"></a>
    </div>
    <div>
      <button id="reloadButton" class="button">Reload image</button>
    </div>
  </div>
}
