package indexpage

templ Index(colorCode string) {
  <!doctype html>
  <html>
    @Head(colorCode)
    <body class="flex flex-col items-center space-y-5">
      @Avatar()
      @Profile()
      @AvatarControls()
      <a
        href="https://github.com/syumai/syum.ai"
        class="text-blue-600 dark:text-blue-500 hover:underline"
      >
        github.com/syumai/syum.ai
      </a>
    </body>
  </html>
}
