/**
 * Base settings
 */

body {
  margin: 0;
}

container.main {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 18.23%,
      rgba(255, 255, 255, 0.67) 88.02%
    ),
    #66d1ff;
}

/**
 * Position settings
 */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 4px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.syumai-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.flying-object-group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 126px - 155px);
  padding-top: 126px;
  padding-bottom: 155px;
  overflow: hidden;
  z-index: 8;
}

.flying-object-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.flying-object {
  position: absolute;
  top: 50%;
  right: -200px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.background .gopher-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 7;
}

.background .gopher-container .gopher {
  margin-right: calc(-180px - 30vw);
}

.background .fuji-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 6;
}

.background .fuji-container .fuji {
  margin-left: -60vw;
  margin-bottom: -16px;
}

.sun-group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.sun-group-container .sun-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sun-group-container .sun-container .sun {
  margin-bottom: 100px;
}

.sun-group-container .ray-group-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sun-group-container .ray-group-container .ray-container {
  position: relative;
  width: 1400px;
  height: 1400px;
  bottom: -560px;
  animation: rot 30s linear infinite;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * Image sizes
 */

img.logo-2020 {
  width: 206px;
  height: 112px;
}

img.syumai {
  width: 216px;
  height: 155px;
}

img.gopher {
  width: 47px;
  height: 65px;
}

img.fuji {
  width: 120vw;
  height: calc(227 / 770 * 120vw);
  min-width: 770px;
  min-height: 227px;
}

img.ray {
  width: 1400px;
  height: 1400px;
}

img.sun {
  width: 106px;
  height: 106px;
}

img.eggplant {
  width: 62px;
  height: 24px;
}

img.hawk {
  width: 55px;
  height: 28px;
}
